# ParadigmCore template environment file (updated 2/19/18)

# [general]

# human-readable node identifier
MONIKER=

# node type (currently accepts "full" or "validator")
NODE_TYPE=

# dev environment
NODE_ENV=

# web3 provider URL (must be a websocket provider)
# use a ropsten provider if you use the included stake contract
WEB3_PROVIDER=

# log level (0 = all logs, 1 = events, 2 = warnings/errors only, 3 = errors only)
LOG_LEVEL=

# set to 1 to pipe Tendermint logs to stdout
DEBUG=

# [network]

# seed nodes - required for production network (format: "{node_id}@{ip/url}:{port}[, ...]")
SEEDS=

# post/stream (http/ws) api server configurations
POST_PORT=
STREAM_PORT=

# http server rate limiting configuration (not enforced in state)
WINDOW_MS=
WINDOW_MAX=

# tendermint abci configuration
ABCI_HOST=
ABCI_RPC_PORT=

# tendermint abci server configuration
ABCI_PORT=

# [consensus]

# initial staking/rebalance period configuration
PERIOD_LENGTH=
PERIOD_LIMIT=

# initial finality gadget parameters
FINALITY_THRESHOLD=

# maximum order size (bytes)
MAX_ORDER_SIZE=

# [validators]

# encoding for validator signatures (usually 'hex')
SIG_ENC=

# NODE_ID, PRIV_KEY, and PUB_KEY will be appended here, along with TM_HOME
